@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Story</h2>

        <p>Poor deliveryman! He has been given a long list of customer locations waiting for food from restaurant. It seems impossible to fullfill all these orders this year.</p>

        <h2>Rules</h2>

        <p>You are expected to provide the deliveryman an ordering of his list that minimizes distance he has to traverse. Deliveryman will process your instructions sequentially -- he's simply not strong enough to carry more than one dinner at a time. He will start at the location of the first restaurant, move to the corresponding customer from here, then he will move to the location of the second restaurant -- and so on.</p>

        <p>See <a href="@Url.Action("List", "Home")">the list of orders</a>. It's a text file with 5-tuples of order ID, GPS locations for customer and the pub he awaits the food from. It looks like this:</p>

        <pre>
1;50.0811997N;14.4441381E;50.0840358N;14.4523817E
2;50.0811997N;14.4441381E;50.0840358N;14.4523817E
3;50.0811997N;14.4441381E;50.0840358N;14.4523817E
[...]
</pre>

        <p>Each line of your solution should contain an order ID from the input file:</p>

        <pre>
3
1
2
[...]
</pre>

        <p>The list of IDs you submit has to be complete for your solution to be considered. Between all accepted solutions, we will pick primarily based on the final length.</p>
    </div>
    <div class="col-md-6">
        <h2>Enter the contest</h2>

        <p>With or without a solution ready, feel free to register with us to get updates about Open Door day.</p>

        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
            <div class="form-group">
                <label for="nameLabel">Name</label>
                <input type="text" name="name" class="form-control" />
            </div>

            <div class="form-group">
                <label for="nameLabel">E-mail</label>
                <input type="email" name="email" class="form-control" />
                <small id="emailHelp" class="form-text text-muted">We won't retain your data after the contest is over</small>
            </div>

            <div class="form-group">
                <label for="nameLabel">Do you want to come to Open Door day?</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="openDoor" id="openDoorFirst" value="first" checked="checked">
                    <label class="form-check-label" for="openDoorFirst">Yes, I'll come 31st October (that's Wednesday)</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="openDoor" id="openDoorSecond" value="second">
                    <label class="form-check-label" for="openDoorSecond">Yes, I'll come 19th November (that's Monday)</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="openDoor" id="openDoorNo" value="no">
                    <label class="form-check-label" for="openDoorNo">No</label>
                </div>
            </div>

            <div class="form-group">
                <label for="nameLabel">Solution</label>
                <input type="file" name="Solution" class="form-control-file" />
                <small id="emailHelp" class="form-text text-muted">If you enter your solution, we will add it to the leaderboard. You will be able to resubmit, just use the same e-mail.</small>
            </div>

            <button type="submit" class="btn btn-primary">Submit solution</button>
        </form>

        <h2>Leaderboard</h2>

        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Path length</th>
            </tr>
            <tr>
                <td>Hungry Contestant</td>
                <td>102</td>
            </tr>
            <tr>
                <td>Input-Oriented Contestant</td>
                <td>123</td>
            </tr>
            <tr>
                <td>Confused Contestant</td>
                <td>245</td>
            </tr>
        </table>
    </div>
</div>
